# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# dotenv / variáveis sensíveis
.env
.env.*
instance/
*.db

# MyPy & Pyright
.mypy_cache/
.pyright/

# ========================
# Node/Vite/React (Frontend)
# ========================
node_modules/
dist/
build/
.vite/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# Vercel (deploy frontend)
# ========================
.vercel/

# ========================
# Arquivos de sistema
# ========================
.DS_Store
Thumbs.db
desktop.ini
